footer {
  background-color: #ffffff;
  color: #ffffff;
  padding-top: 20rem;


  .book-container {
    display: flex;

    .d-left,
    .d-right {
      width: 50%;
      height: 570px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 2rem;

      p {
        padding: 3rem 2rem;
      }

    }

    .d-left {
      background-color: #303030;
    }

    .d-right {
      background-color: #e7e7e77d;
      margin-top: 80px;
      margin-left: -80px;
      padding-left: 7rem;

      p,
      h2 {
        color: #303030;
      }

    }

    h2 {
      font-size: 25px;
      padding: 0 2rem;
    }
  }

  .footer-info {
    padding-top: 15rem !important;
  }

  .menu-container {
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
      list-style-type: none;

      li {
        padding: 0.7rem 0;
        cursor: pointer;
        color: #303030;
      }
    }

    .social-container {
      background-color: #ffffff;
      padding: 3rem;
    }
  }

  .about-zino {
    color: #303030 !important;
    padding: 0 10rem;

    p {
      padding: 1rem 0;
      font-weight: 300;
      line-height: 1.7rem;
      text-align: justify;
    }
  }


  .social {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5rem 0;
  }

  .icon-fb {
    background-image: url('../../../assets/img/icons/facebook-logo.svg');
  }

  .icon-twitter {
    background-image: url('../../../assets/img/icons/twitter.svg');
  }

  .icon-linkedin {
    background-image: url('../../../assets/img/icons/linkedin.svg');
  }

  .icon-instagram {
    background-image: url('../../../assets/img/icons/facebook-logo.svg');
  }


  .our-image {
    height: 500px;
    background-image: url('../../../assets/img/png/02.jpeg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.custome-center {
  display: flex;
  align-items: center;
}
