<footer>
    <div class="container custome-center">
        <div class="book-container">
            <div class="d-left">
                <h2>Let us talk you through our solutions and pricing, face-to-face.</h2>
                <p>Book a free online demonstration with one of our team members now.</p>
                <app-main-button text="Book Demo" color="#303030" bgColor="#ffffff"></app-main-button>
            </div>
            <div class="d-right">
                <h2>Ask us anything about our solutions or our pricing.</h2>
                <p>Send your questions instantly by using the chat window below, or use the contact form.</p>
                <app-main-button text="Contact Us" color="#ffffff" bgColor="#303030"></app-main-button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 footer-info">
        <div class="row">
            <div class="col-lg-4  p-3">
                <div class="menu-container">
                    <ul>
                        <li>Applicants</li>
                        <li>Privacy</li>
                        <li>Responsible Disclosure</li>
                        <li>Offices</li>
                        <li>Career</li>
                        <li>About us</li>
                    </ul>
                    <div class="social-container">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/company/zinokish" target="_blank">
                                    <div class="social icon-linkedin"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/CompanyZino" target="_blank">
                                    <div class="social icon-twitter"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/zinokish.tech/" target="_blank">
                                    <div class="social icon-fb"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 about-zino">
                <p><b>ABOUT ZINO</b> we firmly believe in the symbiosis between mankind and machine. Technology brings
                    efficiency and lowers costs, while people will always bring trust and empathy to the table. That’s
                    why we’re developing fintech solutions that save time and money, but that incorporate the human
                    factor as well: instead of being imposed on people, our technology serves people.</p>
                <app-simple-button text="Read about us"></app-simple-button>
            </div>
            <div class="col-lg-4  p-0">
                <div class="our-image"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color end-footer">
        <p><b>We are Zino.</b> Your invisible force in fintech.</p>
        <div class="logo"></div>
    </div>
</footer>