<section class="solution">
   <div class="container-fluid">
        <div class="container">
            <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="solution-content">
                            <div class="solution-content-header">
                                <div class="line"></div>
                                <h3>Finance can’t do without human trust</h3>
                            </div>
                            <p class="solution-content-text">Technology brings efficiency and lowers costs, while people will always bring trust and empathy to the table.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="solution-content">
                            <div class="solution-content-header">
                                <div class="line"></div>
                                <h3>Not tech, but people focused</h3>
                            </div>
                            <p class="solution-content-text">In the end, it’s not about us or our technology, but about people: that’s why instead of being imposed on people, our technology serves people – it enables you to focus on your clients again.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="solution-content">
                            <div class="solution-content-header">
                                <div class="line"></div>
                                <h3>Financial inclusion</h3>
                            </div>
                            <p class="solution-content-text">In finance, tech can feel more complicated than the task it automates. At Zino, we aim to develop intuitive fintech solutions that makes asset management accessible and scalable to everybody.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="solution-content">
                            <div class="solution-content-header">
                                <div class="line"></div>
                                <h3>Your invisible force in fintech</h3>
                            </div>
                            <p class="solution-content-text">That’s why our technology is always fully white-labeled and we are never your competitor. But it is not about us. It’s about you and your clients.</p>
                        </div>
                    </div>
            </div>
        </div>
   </div>
</section>