<section>
    <div class="container-fluid">
        <app-section-title text="our user story"></app-section-title>

        <div class="container">
            <div class="user-story-container">
                <div class="col-lg-5  story-image p-0">
                    <img style="width: 100%;" src="../../../../assets/img/png/01.jpeg" />
                </div>
                <div class="col-lg-7  story-content">
                    <div class="story-title-container">
                        <div class="line"></div>
                        <p>Paul Kramer,<b>co-founder fo zagros air</b> </p>
                    </div>
                    <h2>“zino is now fully integrated in our daily practice”</h2>
                    <p>Paul Kramer is co-owner of Index Capital Asset Management, a pioneer in the field of Index
                        investing in the Netherlands. This Breda asset manager is one of Blanco’s first hour …</p>
                    <app-main-button text="read more"></app-main-button>
                </div>
            </div>
            <div class="user-story-container">
                <div class="col-lg-5 story-image p-0">
                    <img style="width: 100%;" src="../../../../assets/img/png/02.jpeg" />
                </div>
                <div class="col-lg-7  story-content">
                    <div class="story-title-container">
                        <div class="line"></div>
                        <p>Paul Kramer,<b>co-founder fo zagros air</b> </p>
                    </div>
                    <h2>“zino tech is as customer obsessed as we are”</h2>
                    <p>Paul Kramer is co-owner of Index Capital Asset Management, a pioneer in the field of Index
                        investing in the Netherlands. This Breda asset manager is one of Blanco’s first hour …</p>
                    <app-main-button text="read more"></app-main-button>
                </div>
            </div>
        </div>
    </div>
</section>