<section class="manifesto">
    <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-6 col-sm-12 p-0">
                    <div class="manifesto-image"></div>
                </div>
                <div class="col-lg-6 col-sm-12 p-0">
                    <div class="our-slogan pt-5r">
                        <h2>At Zino, we don’t believe in tech only. We believe in the symbiosis between man and machine.</h2>
                    </div>
                </div>
            </div>
    </div>


    <div class="container-fluid rule ">
        <div class="row">
            <div class="col-lg-6 col-sm-12 rule-col  main-bg-color  main-color-light">
                
            </div>
            <div class="col-lg-6 col-sm-12 rule-col main-bg-color  ">
                <div class="our-manifesto-content our-slogan">
                    <p>After all, self-driving cars still require a human in the driver’s seat for when things go haywire, don't they?</p>
                    <app-simple-button text="red ou sad asd asd t"></app-simple-button>
                </div>
            </div>
          </div>
    </div>

</section>