<div class="container-fluid p-0 m-0 pt-5 pb-5 f-center">
    <app-index-animation></app-index-animation>
    <div class="container">
        <div class="row pt-7">
            <div class="col-lg-6 col-sm-12">
                <div class="index-main-content">
                    <h3 class="font-big">The zino technology for </h3>
                    <h3 class="font-big">financial institutions</h3>
                    <p class="light mb-5">Enterprise resource planning is the most important priority of any small and large organization to ensure its sustainability and growth.</p>
                    <app-main-button text="index it"></app-main-button>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <app-play-button></app-play-button>
            </div>
        </div>
    </div>

    <app-video-player></app-video-player>
</div>