
:host{
  overflow: hidden;

}
svg {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: -50px;
  stroke: #333;
  stroke-width: 3px;
  fill: transparent;
  stroke-dasharray: 21574;
  stroke-dashoffset: 21576;
  animation: animi 7s normal forwards;
  animation-iteration-count: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;


}

@keyframes animi {
  to {
    stroke-dashoffset: 1;

  }
}
